# This file contains the bare minimum settings to test Ilmomasiina.
# Database settings are not set here, as your setup for that may vary.


# Database settings

DATABASE_URL=postgresql://ilmo_user:password@localhost:5432/ilmomasiina_test


# Authentication secrets

# Set these to secure random strings.
# You can generate one with the command:
# openssl rand -hex 32
NEW_EDIT_TOKEN_SECRET=insecure_but_that_is_ok_in_testing_1
AUTH_SECRET=insecure_but_that_is_ok_in_testing_2

# Google OAuth credentials (not needed for API tests)
AUTH_GOOGLE_ID=test
AUTH_GOOGLE_SECRET=test


# Mail settings

# Mail sender
MAIL_FROM=<test@ilmomasiina.test>


# URL settings

# Canonical base URL for the app. Used by the backend.
BASE_URL=http://localhost:3000


# Branding settings

NEXT_PUBLIC_BRANDING_HEADER_TITLE_TEXT=Ilmomasiina
NEXT_PUBLIC_BRANDING_FOOTER_GDPR_TEXT=Tietosuoja
NEXT_PUBLIC_BRANDING_FOOTER_GDPR_LINK=http://example.com/privacy
NEXT_PUBLIC_BRANDING_FOOTER_HOME_TEXT=Example.com
NEXT_PUBLIC_BRANDING_FOOTER_HOME_LINK=http://example.com

# Email strings
BRANDING_MAIL_FOOTER_TEXT=Ilmomasiina test email footer
BRANDING_MAIL_FOOTER_LINK=https://example.com

# iCalendar exported calendar name
BRANDING_ICAL_CALENDAR_NAME=Ilmomasiina

# Secret for authenticating cron job API requests.
CRON_SECRET=test_cron_secret
